node_modules
.next
out
build
*.tsbuildinfo
next-env.d.ts

# env & secrets
.env
.env.*
!.env.example

# local sqlite
prisma/*.db
prisma/*.db-journal
prisma/*.db-wal
prisma/*.db-shm
/data

.DS_Store
npm-debug.log*
.fly
